body{
    display: flex;
   align-content: end;
  
    
}
.form-info{
    display: flex;
    align-self: center;
    
    
}
label{
    display: block;
    width: 10px;
}

form{
    display: flex;
    flex-direction: row;
    align-items: center;
   
    
}
h1{
    color:aquamarine;
}
img{
    width: 70%;
    height: auto;
}
.sub-input{
    margin: 5%;
}
.img-bar{
    padding: 5px;
}